
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cinzel&family=Crimson+Text:ital@1&family=DynaPuff:wdth@96.1;100&family=Indie+Flower&family=Satisfy&family=Shadows+Into+Light&family=Source+Serif+Pro:ital,wght@1,300&family=Square+Peg&display=swap');

body{
background-color: antiquewhite;
margin: 30px;
}
#create,textarea{
background-color: rgb(124, 253, 193);
float: left;
margin: 25px 10px 25px 10px; /* top right bottom left*/
padding: 10px 10px 10px 10px;
width: 250px;
height: 250px;
border: 4px double black; /*width style colour*/
cursor: pointer;
}
#create{
    user-select: none;
    padding: 20px;
    text-align: center;
    border: 0;
    cursor: pointer;
    color: black;
    font:20px 'Shadows Into Light', sans-serif;
    line-height: 15px;
    box-shadow: 0 4px  4px black;
    transition: box-shadow 0.5s ease;
}
#create:hover{
    background-color: rgb(184, 245, 90);
    box-shadow: 3px 3px green;
    text-shadow: black;
}
textarea{
    border:4px double black ;
    margin: 25px 10px 25px 10px;
    font:15px 'Indie Flower', sans-serif;
    line-height: 2;
    border: 0;
    box-shadow: 0 4px  4px black;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: box-shadow 0.5s ease;
    max-width: 520px;
    max-height: 250px;
}
textarea:hover{
    background-color: rgb(184, 249, 90);
    box-shadow: 3px 3px green;
}
